.inlinemenuzinho{
    display: inline;
    color:darkgray;
    padding: 7px;
}
.menuzinho{
    display: flex;
    justify-content: space-evenly;
    align-items:start

}
#assine{
    display: inline;
    background-color: red;
    color: white;
    padding: 7px;
}
.titulo{
    display: inline;
}
#ponto{
    display: inline;
    font-size: 30px;
    padding: 5px;
}
.titulo2{
    display: flex;
    justify-content: space-between;
}
#email{
    display: inline;
    padding: 2px;
    font-size: 13px;
}
.data{
    display: inline;
    padding: 2px;
    font-size: 13px;
}
#traço{
    font-size: 3px;
}
.rs{
    display: inline;
    font-size: 13px;
}
.rsdiv{
    display: flex;
    justify-content: space-around;
}
#festival{
    color: red;
}
.pdb{
    background-color: red;
}
#materia1{
    display: inline;
    color: white;
}
#materia2{
    display: inline;
    color: white  ;
      
}